[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"
PIPENV_VENV_IN_PROJECT = 1

[packages]
Django = "*"
uvicorn = "*"
gunicorn = "*"
uvloop = "*"

[dev-packages]
yapf = "*"
pre-commit = "*"
pylint = "*"
pylint-django = "*"

[requires]
python_version = "3.9"
