{% extends "server/base.html" %} {% block content %}
{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message }}
</div>
{% endfor %}

<form method="post" enctype="multipart/form-data" action="{% url 'server:index' %}">
    {% csrf_token %}
    <input type="file" name="script">
    <button type=" submit" class="btn btn-outline-primary">Upload mx3</button>
</form>

<div>{% include 'server/queued.html' %}</div>
<div>{% include 'server/running.html' %}</div>
<div>{% include 'server/finished.html' %}</div>

{% endblock content%}
