<button
  type="button"
  class="btn btn-dark btn-lg btn-block"
  data-toggle="collapse"
  href="#collapseQueued"
  role="button"
  aria-expanded="false"
  aria-controls="collapseQueued"
>
  Queued
</button>
<div class="collapse show" id="collapseQueued">
  <table class="table table-dark table-sm">
    <thead>
      <tr>
        <th scope="col">Unique ID</th>
        <th scope="col">Name</th>
        <th scope="col">Filename</th>
        <th scope="col">User</th>
        <th scope="col" style="width: 10%">Priority</th>
        <th scope="col" style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      {% for sim in sims.queued %}
      <tr>
        <th scope="row">{{sim.pk}}</th>
        <td>{{sim.name}}</td>
        <td>{{sim.script}}</td>
        <td>{{sim.user}}</td>
        <td>
          <button type="button" class="btn btn-outline-primary btn-sm">
            Bring to top
          </button>
        </td>
        <td>
          <form action="{% url 'server:delete-sim' pk=sim.pk %}" method="POST">
            {% csrf_token %}
            <input
              class="btn btn-default btn-danger btn-sm"
              type="submit"
              value="Delete"
            />
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
